.header {
    background-color: #EDDFDE;
}

.nav {
    background-color: #EDDFDE;
}

.sec-1 {
    background-color: #F0BCC0;
}

.sec-1 h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

footer {
    background-color: #F0BCC0;
}